In [1]:
#데이터프레임의 행과 열을 바꿈
import pandas as pd

In [5]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95]}
df =pd.DataFrame(exam_data)
print(df)

df.set_index('이름',inplace=True) #이름을 기준으로 이덱스 변경(shift+Tab으로 확인)
print(df)

   이름  수학  영어
0  서준  90  98
1  우현  80  89
2  인아  70  95
    수학  영어
이름
서준  90  98
우현  80  89
인아  70  95

In [10]:
df=df.T
print(df)

이름  서준  우현  인아
수학  90  80  70
영어  98  89  95

In [22]:
#reindex(새로운 인덱스 배열):기존의 자료변경 안함, 새로운 데이터프레임 반환
dict_data={'c0':[1,2,3],'c1':[1,2,3],'c2':[1,2,3],'c3':[1,2,3]}
df=pd.DataFrame(dict_data,index=['r1','r2','r3'])
df

    c0  c1  c2  c3
r1   1   1   1   1
r2   2   2   2   2
r3   3   3   3   3

In [21]:
#index를['r0','r1','r2','r3','r4']
new_index=['r0','r1','r2','r3','r4']
ndf=df.reindex(new_index)
print(ndf)

#존재하지 않는 인덱스의 값을 0으로 채워줌
ndf1=df.reindex(new_index,fill_value=0)
ndf1

#뒤에 있는 행을 따름('bfill') / 앞에 있는 행을 따름('ffill')
ndf1=df.reindex(new_index,method='bfill')
ndf1

    c0  c1  c2  c3
r0 NaN NaN NaN NaN
r1 NaN NaN NaN NaN
r2 NaN NaN NaN NaN
r3 NaN NaN NaN NaN
r4 NaN NaN NaN NaN

    c0  c1  c2  c3
r0   0   0   0   0
r1   0   0   0   0
r2   0   0   0   0
r3   0   0   0   0
r4   0   0   0   0

In [24]:
#reset_index():인덱스 초기화
print(df)
print(df.reset_index()) #기존의 인덱스가 컬럼으로 변환, 인덱스는 초기화
print(df.reset_index(drop=True))# 기존의 인덱스를 삭제, 인덱스는 초기화

   c0  c1  c2  c3
0   1   1   1   1
1   2   2   2   2
2   3   3   3   3
   index  c0  c1  c2  c3
0      0   1   1   1   1
1      1   2   2   2   2
2      2   3   3   3   3
   c0  c1  c2  c3
0   1   1   1   1
1   2   2   2   2
2   3   3   3   3

In [25]:
#인덱스를 기준으로 정렬
df.sort_index(ascending=False)

   c0  c1  c2  c3
2   3   3   3   3
1   2   2   2   2
0   1   1   1   1

In [29]:
#컬럼을 기준으로 정렬
df.loc[0,'c0']=2
df.loc[0,'c2']=4
df.sort_values(by=['c0','c2'],ascending=False) #c0기준으로 내림차순 정리하다가 동일한 값은 c2 기준으로 내림차순 정렬

   c0  c1  c2  c3
2   3   3   3   3
0   2   1   4   1
1   2   2   2   2

In [ ]:
#인덱스를 설정 df.index=[]
#컬럼명을 설정 df.columns=[]
#인덱스의 이름을 변경 df.rename({기존인덱스:새로운인덱스,..},inplace=True)
#컬럼명을 변경 df.rename({기존컬럼:새로운컬럼},inplace=True)
#인덱스를 삭제 df.drop([인덱스명], axis=0)
#컬럼 삭제 df.drop([컬럼명],axis=1)
#새로운 인덱스 이름 부여: ndf=df.reindex(new_index,[fill_value=0])